<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <i class="material-icons">local_shipping</i>
  <a class="navbar-brand" [routerLink]="['/admin']" routerLinkActive="active"
    >&nbsp;Admin Panel</a
  >
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/admin/orders']"
          routerLinkActive="active"
          >Orders <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/admin/delivers']"
          routerLinkActive="active"
          >Delivers</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/admin/assign']"
          routerLinkActive="active"
          >Assign Job</a
        >
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <button
        class="btn btn-outline-dark my-2 my-sm-0"
        role="button"
        (click)="logout()"
      >
        Log Out
      </button>
    </div>
  </div>
</nav>
<div class="example-container mat-elevation-z8">
  <h2>Add Order</h2>
  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="button-row">
    <a mat-flat-button color="primary" [routerLink]="['/admin']"
      ><mat-icon>list</mat-icon></a
    >
  </div>
  <mat-card class="example-card">
    <form [formGroup]="orderForm" (ngSubmit)="onFormSubmit()">
      <mat-form-field class="example-full-width">
        <mat-label>Order ID</mat-label>
        <input
          matInput
          placeholder="Order ID"
          formControlName="orderID"
          [errorStateMatcher]="matcher"
        />
        <mat-error>
          <span
            *ngIf="
              !orderForm.get('orderID').valid &&
              orderForm.get('orderID').touched
            "
            >Please enter Order ID</span
          >
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Item Name</mat-label>
        <input
          matInput
          placeholder="Item Name"
          formControlName="itemName"
          [errorStateMatcher]="matcher"
        />
        <mat-error>
          <span
            *ngIf="
              !orderForm.get('itemName').valid &&
              orderForm.get('itemName').touched
            "
            >Please enter Item Name</span
          >
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Sender Name</mat-label>
        <input
          matInput
          placeholder="Sender Name"
          formControlName="senderName"
          [errorStateMatcher]="matcher"
        />
        <mat-error>
          <span
            *ngIf="
              !orderForm.get('senderName').valid &&
              orderForm.get('senderName').touched
            "
            >Please enter Item Name</span
          >
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Receiver Name</mat-label>
        <input
          matInput
          placeholder="Receiver Name"
          formControlName="receiverName"
          [errorStateMatcher]="matcher"
        />
        <mat-error>
          <span
            *ngIf="
              !orderForm.get('receiverName').valid &&
              orderForm.get('receiverName').touched
            "
            >Please enter Item Name</span
          >
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Receiver Address</mat-label>
        <input
          matInput
          placeholder="Receiver Address"
          formControlName="receiverAddress"
          [errorStateMatcher]="matcher"
        />
        <mat-error>
          <span
            *ngIf="
              !orderForm.get('receiverAddress').valid &&
              orderForm.get('receiverAddress').touched
            "
            >Please enter Item Name</span
          >
        </mat-error>
      </mat-form-field>
      <div class="button-row">
        <button
          type="submit"
          [disabled]="!orderForm.valid || !newOrder.geometryCoordinate"
          mat-flat-button
          color="primary"
        >
          <mat-icon>save</mat-icon>
        </button>
      </div>
    </form>
  </mat-card>
</div>
<div>
  <div id="map" class="map"></div>
</div>
