<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <i class="material-icons">local_shipping</i>
  <a class="navbar-brand" href="#">&nbsp;Goods Delivery</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/client/jobs']"
          routerLinkActive="active"
          >Jobs
        </a>
      </li>
      <li class="nav-item active">
        <a
          class="nav-link"
          [routerLink]="['/client/profile']"
          routerLinkActive="active"
          >Profile <span class="sr-only">(current)</span></a
        >
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <!-- <p>Hello, {{ username }}!</p> -->
      <button
        class="btn btn-outline-dark my-2 my-sm-0"
        role="button"
        (click)="logout()"
      >
        Log Out
      </button>
    </div>
  </div>
</nav>
<div
  class="w-100"
  style="
    background-color: #eff0f2;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2);
  "
>
  <div class="col-sm">
    <div class="jumbotron">
      <h1 class="display-4">Hello, {{ username }}!</h1>
      <p class="lead">Below is your information:</p>
      <hr class="my-4" />
      <ul class="list-group">
        <label for="name">Name</label>
        <li class="list-group-item" id="name" style="border-radius: 5px;">
          {{ deliver.name }}
        </li>
        <label for="surname">Surname</label>
        <li class="list-group-item" id="surname" style="border-radius: 5px;">
          {{ deliver.surname }}
        </li>
        <label for="codiceFiscale">Codice Fiscale</label>
        <li
          class="list-group-item"
          id="codiceFiscale"
          style="border-radius: 5px;"
        >
          {{ deliver.codiceFiscale }}
        </li>
        <label for="username">Username</label>
        <li class="list-group-item" id="username" style="border-radius: 5px;">
          {{ deliver.username }}
        </li>
        <label for="email">Email</label>
        <li class="list-group-item" id="email" style="border-radius: 5px;">
          {{ deliver.email }}
        </li>
        <label for="creation_dt">Be with us from</label>
        <li
          class="list-group-item"
          id="creation_dt"
          style="border-radius: 5px;"
        >
          {{ deliver.creation_dt | date }}
        </li>
      </ul>
    </div>
  </div>
</div>
